**/node_modules/*
**/out/*
**/.next/*
**/.vscode/*
**/.idea/*
**/.idea/*
**/.vscode/*
**/dist/*
**/docker_data/*
**/coverage/*
*.env
*.env.*
*.js
*.cjs


## submodules
nodejs-package-starter

**/scripts/*
**/migrations/*
.eslintrc.cjs


# Project
jvm-config.js